<ion-header>
  <ion-navbar>
    <ion-title>
      Simple AB
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>{{ aisVersion | async }}</h3>
  <h4>{{ abWordSearchResponse?.fs_P01BDWRD_W01BDWRDA.title }}</h4>
  <ion-searchbar *ngIf="aisVersion | async" (ionInput)="search($event)" placeholder="A/B Word Search"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let row of abWordSearchResponse?.fs_P01BDWRD_W01BDWRDA.data.gridData.rowset">
      <ion-label>
        {{ row.mnAddressNumber_21.value }}
      </ion-label>
      <div item-content>
        {{ row.sAlphaName_50.value }}
      </div>
    </ion-item>
  </ion-list>
</ion-content>